<div class="container">
    <header>
    </header>
    <main>
        <aside>
        </aside>
        <section>
            <article *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                <div
                    class="premium"
                    id="tooltip-trigger-{{ n }}"
                    [mTooltipTrigger]="widthHeadline"
                    mTooltipPosition="{{ n % 2 ? '' : 'right'}}">
                    <div class="premium__main">
                        345,19 €
                    </div>
                    <div class="premium__info">
                        monatlich
                    </div>
                </div>
            </article>
        </section>
    </main>
    <m-tooltip headline="Lorem ipsum" #widthHeadline>
        <div class="tooltip-content">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
            <ul>
                <li>
                    Si dolor amet
                </li>
                <li>
                    Consetetur sadipscing elitr
                </li>
                <li>
                    nonumy eirmod tempor invidunt ut labore et
                </li>
            </ul>
        </div>
    </m-tooltip>
</div>
