.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0 0;
}

header {
    height: 150px;
    background: #efefef;
    margin-bottom: 20px;
}

main {
    display: flex;
}

aside {
    width: 150px;
    background: #efefef;
    margin-right: 20px;
}

section {
    flex: 1;
}

article {
    padding: 10px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}

.premium {
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 10px;

    &__main {
        font-size: 20px;
        color: #005ea8;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__info {
        font-size: 12px;
    }
}

.tooltip-content {
    width: 300px;
}